@import '../../variables';

.change-data-user{
  width: 40%;
  max-width: 50rem;
  padding-top: 3rem;
  height: 80vh;
  .info{
    color: $white;
    font-size: $fs-xl;
    text-align: center;
    margin-bottom: 1.6rem;
  }

  .button{
    display: flex;
    justify-content: center;
  }

  .form-input {
    input {
      width: 100%;
      height: 3rem;
      padding: 0.65rem 1.7rem;
      background-color: $lightest-dark;
      color: $input-holder;
      border: none;
      font-size: $fs-sm;
    }
  }
  .MuiTextField-root{
    margin-bottom: 1.5rem;
  }

  input::placeholder {
    opacity: 0.75;
  }
}
