@import "../../variables";
@import '../UserData/UserDataShared';

.reserved-user-data__container {
  @extend .shared-user-data;


  .reserved-user-data__nav {
    @extend .shared-user-data-nav;

    .date-and-img{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 20rem;

      .reservation-date{
        font-size: $fs-sm;
        margin-left: 2rem;
        .date {
          font-size: $fs-lg;
          font-weight: bold;
        }
      }

      img{
        max-height: 4.5rem;
        max-width: 4.5rem;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
      }

    }

    h4{
      font-size: $fs-xl;
      display: inline-block;

    }

    .user-container{
      display: flex;
      align-items: center;
    }

  }

  .user-data__fragments {
        @extend .shared-user-data-fragment;
  }
}
