@import "../../variables";

.CVView__container {
  position: relative;
  width: 100%;
  background-color: $primary-dark;

  .page__container {
    display: flex;
    position: relative;
  }

  .CVView__wrapper {
    padding: 2rem 0;
    background-color: $primary-dark;
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    @media (max-width: 105rem) {
      justify-content: start;
    }
  }

  .CVView__back {
    margin-top: 6rem;
    display: flex;
    background-color: transparent;
    width: 10%;
    max-height: 3rem;
    justify-content: flex-end;
    padding-right: 2.5rem;


    .CVView__back__svg {
      transform: rotate(90deg);
      fill: $dark-arrow;
    }
    .CVView__back__span {
      padding-top: 0.4rem;
      font-size: $fs-lg;
      color: $white;
      font-weight: bold;
    }
  }
  .empty-space{
    width: 10%;
  }
}

