@import '../../variables';
@import "../ChangeDataUser/ChangeDataUser";

.page-background-new-password {
  width: 100vw;
  height: 100vh;
  background: $header-dark;
  display: table-cell;
  vertical-align: middle;

  .new-password-container {
    max-width: 40rem;

    .logo {
      height: auto;
      max-width: 12.4rem;
      display: block;
      margin: 3rem auto;
    }
    @extend .change-data-user;
  }
}



