@import '../../variables';

.page-background__admin-view {
  width: 100vw;
  height: 80vh;
  padding: 1rem 0;
  background-color: $primary-dark;

  .main-wrapper__admin-view {
    width: $width-80;
    margin: 2rem auto;
    background-color: $lightest-dark;

    .admin-view-wrapper {
      padding-top: 3rem;
      padding-bottom: 1.7rem;
      display: flex;
      justify-content: center;
      background-color: $header-dark;
    }
  }
}

